.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ padding: 6px;}
/* The radio_custom */
.radio_custom { display: block; position: relative; padding-left: 18px; margin-bottom: 12px; cursor: pointer; font-size: 15px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
/* Hide the browser's default radio button */
.radio_custom input { position: absolute; opacity: 0; cursor: pointer; }
/* Create a custom radio button */
.checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #eee; border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio_custom:hover input ~ .checkmark { background-color: #ccc; }
/* When the radio button is checked, add a blue background */
.radio_custom input:checked ~ .checkmark { background-color: #2196F3; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after { content: ""; position: absolute; display: none;}
/* Show the indicator (dot/circle) when checked */
.radio_custom input:checked ~ .checkmark:after { display: block; }
/* Style the indicator (dot/ci/rcle) */
.radio_custom .checkmark:after { top: 5px; left: 6px; width: 8px; height: 8px; border-radius: 50%; background: white; }